{% extends "base.html" %}
{% block content %}


    <h2>{{ page_title }}</h2>
    <p>
        After their fight at the Bridge of Khazad-dûm, Gandalf and the Balrog both fell into the deep chasm. Gandalf was
        burned by the Balrog's fire on the way down, then almost froze in the water at the bottom. He pursued his foe
        for days through dark tunnels, and then all the way up the Endless Stair to the top of Durin's Tower in the
        living rock of Zirakzigil, where the two engaged in a two-day long battle at the pinnacle of the Silvertine
        above the clouds. They fought in a narrow space upon Celebdil, above the mists of the world. The sun shone
        fiercely, but all below was wrapped in cloud, so that anyone watching from below would think they saw flashes
        from lightning and heard thunder. A great smoke of vapor and steam rose about them, and ice fell like rain.
    </p>

    {% for member in company %}


        <div class="row featurette">


            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }} ">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
        

            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }} ">{{ loop.index }}. {{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}
        
        </div>

        {% if loop.index != loop.length %}

        <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}
